body {
    font-family: sans-serif;
    background-image: url(https://images.pexels.com/photos/1716861/pexels-photo-1716861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
  }
  
  .wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .controls, .results {
    flex: 1;
    padding: 10px;
  }
  
  form p:nth-of-type(1) {
    margin-top: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
  }
  
  article p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  article p:nth-of-type(2) {
    font-size: 14px;
    line-height: 2;
  }
  
  nav {
    margin-bottom: 50px;
  }
  
  .prev {
    float: left;
  }
  
  .next {
    float: right;
  }
  
  article {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
  }
  
  img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
  }
  
  .clearfix {
    clear: both;
  }
  
  span {
    background-color: #ccc;
    padding: 5px;
    margin: 5px;
  }

  #pokeName{
    text-align: center;
  }
  #refreshButton{
    height:50px;
    width:100%;
  }
  #infoBox{
    background-color: transparent;
    border-style:none;
  }